<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow"
        role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content center-layout" data-menu="menu-container">
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                        <li class="nav-item"><a class="nav-link" asp-controller="AdminPanel" asp-action="Index">
                                <i class="la la-home"></i><span data-i18n="Anasayfa">Anasayfa</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" asp-controller="AdminPanel" asp-action="GownOps">
                                <i class="fa-solid fa-person-dress"></i><span data-i18n="Cübbe İşlemleri">Cübbe İşlemleri</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" asp-controller="Attenders" asp-action="Index">
                                <i class="icon-users"></i><span data-i18n="Katılan Listesi">Katılan Listesi</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" asp-controller="Stats" asp-action="Index">
                                <i class="fa-solid fa-chart-line"></i><span data-i18n="İstatistikler">İstatistikler</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" asp-controller="AdminPanel" asp-action="Settings">
                                <i class="fa-solid fa-gears"></i><span data-i18n="Ayarlar">Ayarlar</span></a>
                        </li>
                </ul>
        </div>
</div>