<footer class="footer footer-transparent footer-light navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 center-layout"><span
            class="float-md-left d-block d-md-inline-block"><img src="\app-assets\images\FSMResimleri\FsmIcon.png"
                alt="deneme" width="16"> FSMVU &copy;
            @DateTime.Today.Year</span><span class="float-md-right d-none d-lg-block">Yazılım Birimi #0.1<i
                class="ft-heart pink"></i><span id="scroll-top"></span></span></p>
</footer>